body {
    margin: 0;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 5%;
    margin-right: 4%;
}
.nav {
    text-align: right;
}
.nav a {
    padding: 0 10px;
}
#mobile-nav {
  background-color: #D9BB9C;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
#mobile-nav a {
  color: white;
  display: block;
  padding: 10px 10px;
}
.padded {
    padding: 16px;
}
.footer {
    background-color: #D9BB9C;
    width: auto;
    padding: 20px 60px 10px 60px;
}
.header-stripe {
    position: relative;
    background-color: #D9BB9C;
    height: 35px;
}
.header-image {
    text-align: center;
}
.header-body-text {
    text-align: center;
    font-size: 22px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
}
.body-text {
    font-size: 22px;
}
.button {
    border: none;
    background-color: #F8DADE;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 45%;
  }  
  .grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-left: 11%;
    margin-right: 4%;
  }
  .gap3 {
    gap: 70px;
  }
  .food {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: top;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  .title {
    border: none;
    background-color: #C6E08D;
    padding: 10px 20px;
    font-size: 50px;
    font-family: "pf-marlet-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
  }  
  .family-text {
    margin-left: 20px;
    margin-right: 200px;
  }
  .learn-more {
    margin-left: 20px;
    margin-top: 20px;
  }
  .res-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 85px;
    margin-right: 35px;
  }
  .res-text {
    font-size: 22px;
    text-align: center;
    margin-left: 225px;
    margin-right: 225px;
  }
  .book-now {
    border: none;
    background-color: #F8DADE;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 60px;
    margin-top: 10px;
    margin-left: 43%;
  }
  .grid-container4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-logo {
    margin-left: 80px;
}
.footer-text {
    font-size: 20px;
    text-align: center;
}
.insta-logo {

}
.fb-logo {

}
@media screen and (max-width: 640px){
  .grid-container3 {
    grid-template-columns: 1fr;
  }
  .fb-logo {
    position: relative;
  }
  .insta-logo {
    position: relative;

  }
  .footer-text {
    position: relative;
  }
}